@use "./reset.css";
@use "./header.scss";
@use "./footer.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

body{
	font-family: "Roboto";
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}