@use "./reset.css";
@use "./header.scss";
@use "./footer.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

body{
	font-family: "Roboto";
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}

.hero {
	min-height: 90vh;
	background-color: #004449;
	display: flex;
	flex-direction: column;
	&__container {
		flex-grow: 1;
		padding: 
			calc(30px + 120 * (100vw - 320px) / (1200 - 320))
			16px;
		display: flex;
		flex-direction: column;
		
	}
	&__main {
		max-width: 600px;
		margin: 0 auto;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		.hero__title {
			margin-bottom: 24px;
			max-width: 600px;
			font-size: calc(40px + 40 * (100vw - 320px) / (1200 - 320));
			line-height: 1.1;
			color: #FFFEF0;
			span{
				color: #FFAC7F;
			}
		}
		.hero__subtitle {
			max-width: 495px;
			margin-bottom: 24px;
			font-size: calc(20px + 12 * (100vw - 320px) / (1200 - 320));
			line-height: 1.5;
			color: #FFFEF0;
		}
		.hero__btn {
			margin-bottom: 40px;
			padding:
				calc(8px + 8 * (100vw - 320px) / (1200 - 320))
				calc(16px + 16 * (100vw - 320px) / (1200 - 320));
			border-radius: 28px;
			background-color: #0BFF80;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;
			font-size: calc(13px + 3 * (100vw - 320px) / (1200 - 320));
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #004449;
			svg{
				width: calc(14px + 10 * (100vw - 320px) / (1200 - 320));
			}
			&:hover, &:focus{
				outline: none;
				background-color: #FFFEF0;
				box-shadow: 0 0 5px #0BFF80;
			}
		}
	}
	&__bot {
		display: flex;
		flex-direction: column;
		p{
			text-align: center;
			margin-bottom: calc(20px + 28 * (100vw - 320px) / (1200 - 320));
			font-size: 18px;
			line-height: 1.33;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #FFFEF0;
		}
		.hero__partners {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			gap: 16px;
			
		}
	}
}

.how {
	.how__container {
		min-height: 90vh;
		padding:
			calc(32px + 80 * (100vw - 320px) / (1200 - 320)) 
			16px
			0;
		background-image: url(../files/img/how-bg.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.how__title {
		font-size: calc(24px + 24 * (100vw - 320px) / (1200 - 320));
		line-height: 1.33;
		text-align: center;
		color: #004449;
		.tm {
			display: inline-block;
			font-size: calc(6px + 2 * (100vw - 320px) / (1200 - 320));
			transform: translate(0, -180%);
		}
	}
	.how__main-title{
		margin-bottom: 195px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	.how__stages {
		margin-bottom: 20px;
		display: flex;
		gap: calc(24px + 24 * (100vw - 320px) / (1200 - 320));
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	.how__stage {
		z-index: 1;
		max-width: 357px;
		border-radius: 8px;
		box-shadow: 2px 8px 16px #99A9C533;
		background-color: #FFFEF0;
		padding: 
			calc(16px + 16 * (100vw - 320px) / (1200 - 320)) 
			calc(14px + 14 * (100vw - 320px) / (1200 - 320));
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			border-radius: 8px;
			background-color: #FFFEF0;
		}
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	.how__stage-img {
		position: absolute;
		width: 100%;
		top: 4px;
		left: 0;
		display: flex;
		justify-content: center;
		img{
			transform: translate(0, -100%);
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	.how__stage-title {
		position: relative;
		z-index: 2;
		margin-bottom: calc(10px + 10 * (100vw - 320px) / (1200 - 320));
		font-size: calc(16px + 8 * (100vw - 320px) / (1200 - 320));
		line-height: 1.33;
		text-align: center;
		color: #004449;
	}
	.how__stage-description {
		position: relative;
		z-index: 2;
		font-size: calc(13px + 3 * (100vw - 320px) / (1200 - 320));
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #004449;
	}
	.how__bot {
		margin: 0 auto;
		max-width: 764px;
		padding: calc(16px + 40 * (100vw - 320px) / (1200 - 320))
		calc(24px + 60 * (100vw - 320px) / (1200 - 320))
		calc(32px + 80 * (100vw - 320px) / (1200 - 320)) ;
		background-color: #D7FFC2;
		border-radius: 8px 8px 0 0 ;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.how__bot-title { 
		margin-bottom: calc(10px + 10 * (100vw - 320px) / (1200 - 320));
		span{
			color: #007A83;	
		}
	}
	.how__subtitle {
		margin-bottom: calc(14px + 20 * (100vw - 320px) / (1200 - 320));
		font-size: 11px;
		line-height: 2.18;
		letter-spacing: 0.03em;
		text-align: center;
	}
	.how__btn {
		padding: 
			calc(8px + 8 * (100vw - 320px) / (1200 - 320))
			calc(16px + 16 * (100vw - 320px) / (1200 - 320));
		background-color: #483CFF;
		border-radius: 30px;
		font-size: calc(13px + 3 * (100vw - 320px) / (1200 - 320));
		line-height: 1.5;
		letter-spacing: 0.1em;
		color: #FFFEF0;
	}
}